/* style.css */

/* ====================================== Imports ======================================  */

@import url("./reset.css");

@font-face {
  font-family: "bebas_neueregular";
  src:
    url("./fonts/Bebas_Neue/bebasneue-regular-webfont.woff2") format("woff2"),
    url("./fonts/Bebas_Neue/bebasneue-regular-webfont.woff") format("woff"),
    url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "muktaregular";
  src:
    url("./fonts/Mukta/mukta-regular-webfont.woff2") format("woff2"),
    url("./fonts/Mukta/mukta-regular-webfont.woff") format("woff"),
    url("./fonts/Mukta/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ====================================== Global ======================================  */

:root {
  /* variables */
  --main-color: white;
  --sec-color: black;
  --spacing: 1rem;
  --padding: 1rem;

  /* animation timing */
  --delay1: 0.25s;
  --time1: 0.5s;
  --delay2: calc(var(--delay1) + var(--time1) + 0s);
  --time2: 1s;
  --delay3: calc(var(--delay2) + var(--time2) + 0.25s);
  --time3: 1s;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

/* ====================================== Content ======================================  */
/* default sizing for desktop */

body {
  max-width: 1300px;
  margin: auto;
  overflow-x: hidden;

  background-color: var(--main-color);
  font-family: "muktaregular", Arial, Helvetica, sans-serif;

  > * {
    padding: calc(5 * var(--padding)) var(--padding);
  }
}

main {
  header {
    position: relative;

    .intro-wrapper {
      position: relative;
      /* display: grid; */
      /* grid-template-columns: auto auto; */

      img.headshot {
        float: left;

        min-width: max-content;

        box-shadow: 5px 5px 5px black;
        z-index: 2;

        /* animate3 */
        animation: main-img-appear var(--time3) forwards;
        animation-delay: var(--delay3);
      }

      .name-main {
        font-family: bebas_neueregular;
        font-size: 5.75rem;
        color: var(--main-color);

        position: absolute;
        top: 315px;
        left: 5px;
        transform-origin: bottom right;
        /* z-index: 1; */

        /* all names */
        > * {
          text-align: end;
        }

        /* first name */
        *:first-child {
          /* animation: name-slide-in 0.5s; */
        }

        /* last name */
        *:last-child {
          position: relative;
          top: -50px;

          color: red;

          /* animate1 */
          animation: name-slide-in var(--time1) backwards;
          animation-delay: var(--delay1);
        }
      }

      .about-me {
        position: relative;
        top: 125px;

        display: grid;
        grid-template-rows: auto auto 1fr;

        height: min-content;

        font-size: large;

        background-color: var(--main-color);
        box-shadow: 5px 5px 5px black;

        z-index: -1;

        padding: var(--padding) calc(2 * var(--padding));

        /* animate4 (with animate3) */
        animation: main-img-appear var(--time3) backwards;
        animation-delay: var(--delay3);

        h2 {
          font-size: 3rem;
        }

        .about-icons-wrapper {
          margin-top: 4rem;

          display: flex;
          justify-content: end;
          align-items: end;
          gap: var(--spacing);
        }
      }
    }

    .background-div {
      height: 60rem;
      width: 550rem;
      background-color: black;

      position: absolute;
      bottom: -33rem;
      left: -250rem;
      transform-origin: bottom left;
      transform: rotate(-5deg);

      z-index: -1;
      /* z-index: 99; */
      /* opacity: 0.66; */

      /* animate2 */
      animation: rotate-background var(--time2) linear backwards;
      animation-delay: var(--delay2);
    }
  }
}

/* ====================================== Dynamic sizing ======================================  */

/* tablet */
@media (max-width: 1199px) {
  body {
    width: 500px;
  }

  main {
    header {
      /*  */
    }
  }
}

/* mobile */
@media (max-width: 500px) {
  body {
    width: 320px;
  }
}

/* ====================================== Catch All ======================================  */

button.icon {
  --icon-size: 2.5rem;

  border: none;
  background: none;

  width: var(--icon-size);
  height: var(--icon-size);
}

/* ====================================== Animation ======================================  */

@keyframes rotate-background {
  from {
    /* transform: rotate(0deg); */
    transform: rotate(-5deg) translateX(600rem);
  }
  to {
    /* transform: rotate(-28deg); */
    transform: rotate(-5deg) translateX(0rem);
  }
}

@keyframes main-img-appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes name-slide-in {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

/* ====================================== Testing ======================================  */

.test {
  box-shadow: 5px 5px 5px black;

  margin-top: 20rem;

  outline: red solid 1px;
  background-color: white;

  div.pic-wrapper {
    position: relative;

    float: left;
    margin: 0 var(--spacing) 0 0;

    height: 6rem;
    width: 6rem;
    background-color: green;

    div.pic {
      box-shadow: 5px 5px 5px black;

      position: absolute;
      bottom: 0;
      right: 0;

      min-height: 10rem;
      min-width: 10rem;
      background-color: red;
      opacity: 0.66;
    }
  }
}
