/* style.css */

/* ====================================== Imports ======================================  */

@import url("./reset.css");

@font-face {
  font-family: "bebas_neueregular";
  src:
    url("./fonts/Bebas_Neue/bebasneue-regular-webfont.woff2") format("woff2"),
    url("./fonts/Bebas_Neue/bebasneue-regular-webfont.woff") format("woff"),
    url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "muktaregular";
  src:
    url("./fonts/Mukta/mukta-regular-webfont.woff2") format("woff2"),
    url("./fonts/Mukta/mukta-regular-webfont.woff") format("woff"),
    url("./fonts/Mukta/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ====================================== Global ======================================  */

:root {
  /* variables */
  --main-color: white;
  --sec-color: black;
  --spacing: 1rem;
  --padding: 1rem;
  --bg-angle: -3deg;

  /* animation timing */
  --delay1: 0.5s;
  --time1: 0.5s;
  --delay2: calc(var(--delay1) + var(--time1) + 0s);
  --time2: 1s;
  --delay3: calc(var(--delay2) + var(--time2) + 0s);
  --time3: 1s;
  --delay4: calc(var(--delay3) + var(--time3) - 0.25s);
  --time4: 0.5s;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

/* ====================================== Content ======================================  */
/* default sizing for desktop */

body {
  width: 1200px;
  margin: auto;
  overflow-x: hidden;

  background-color: var(--main-color);
  font-family: "muktaregular", Arial, Helvetica, sans-serif;

  > * {
    padding: calc(10 * var(--padding)) var(--padding);
  }
}

/* ===== main ===== */
header {
  background-color: transparent;
}

.img-name-wrapper {
  float: left;
  position: relative;

  margin: 0 var(--spacing) 0 0;

  height: calc(512px - 100px);
  width: 341px;

  img {
    box-shadow: 5px 5px 5px black;

    position: absolute;
    bottom: 0px;
    right: 0px;

    min-height: 512px;
    min-width: 341px;

    animation: main-appear var(--time3) backwards;
    animation-delay: var(--delay3);
  }
}

.name-wrapper {
  font-family: bebas_neueregular;
  font-size: 5.75rem;
  color: var(--main-color);

  position: absolute;
  bottom: 45px;
  left: 8px;

  .last-name {
    color: red;
    /* text-align: end; */

    position: absolute;
    top: 75px;
    right: 0px;

    animation: name-slide-in var(--time1) backwards;
    animation-delay: var(--delay1);
  }

  .animated-background {
    background-color: var(--sec-color);

    height: 50rem;
    width: 450rem;
    transform: rotate(var(--bg-angle));
    transform-origin: bottom left;

    position: absolute;
    bottom: -10rem;
    left: -175rem;

    z-index: -99;

    animation: animate-background var(--time2) backwards;
    animation-delay: var(--delay2);
  }
}

.about-wrapper {
  padding: var(--padding);
  position: relative;
  z-index: -1;

  background-color: var(--main-color);
  box-shadow: 5px 5px 5px black;

  animation:
    main-appear var(--time4) backwards,
    main-slide-up var(--time4) backwards;
  animation-delay: var(--delay4);
}

.about-info-wrapper {
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: large;
  }
}

.about-icons-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--spacing);

  padding-top: 5rem;
}

/* ====================================== Dynamic sizing ======================================  */

/* tablet */
@media (max-width: 1199px) {
  body {
    width: 615px;
  }

  .img-name-wrapper {
    width: calc(341px - 100px);
  }

  .name-wrapper {
    bottom: 380px;
    left: 250px;
  }

  .about-info-wrapper {
    padding-top: 7rem;

    h3 {
      text-align: center;
    }
  }
}

/* mobile */
@media (max-width: 650px) {
  body {
    width: 320px;
  }
}

/* ====================================== Catch All ======================================  */

button.icon {
  --icon-size: 2.5rem;

  border: none;
  background: none;

  width: var(--icon-size);
  height: var(--icon-size);
}

/* ====================================== Animation ======================================  */

@keyframes animate-background {
  from {
    /* transform: rotate(0deg); */
    transform: rotate(var(--bg-angle)) translateX(600rem);
  }
  to {
    /* transform: rotate(-28deg); */
    transform: rotate(var(--bg-angle)) translateX(0rem);
  }
}

@keyframes main-appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes main-slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes name-slide-in {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

/* ====================================== Testing ======================================  */

.test {
  box-shadow: 5px 5px 5px black;

  margin-top: 30rem;

  background-color: pink;

  div.pic-wrapper {
    position: relative;

    float: left;
    margin: 0 var(--spacing) 0 0;

    height: 6rem;
    width: 6rem;
    background-color: green;

    div.pic {
      box-shadow: 5px 5px 5px black;

      position: absolute;
      bottom: 0;
      right: 0;

      min-height: 10rem;
      min-width: 10rem;
      background-color: red;
      opacity: 0.66;
    }
  }
}
